.chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border: 1px solid black;
}

.toggle {
  font-size: 30px;
  flex-direction: column;
  letter-spacing: 10px;
  margin-right: 40px;
}