.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin: 15px;
  background: linear-gradient(to top, #22A053, rgba(104, 156, 130, 0.5));
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px #131313;
  height: 180px;
}

.chart:hover {
  animation: shrink .5s both;
}

.chart > iframe {
  z-index: 1;
}

.toggle {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 5px;
  font-size: 30px;
}

iframe {
  animation: iframe-fade 2s forwards ease-in;
  width: 80%;
}

#discover-iframe {
  width: 100%;
}

@keyframes iframe-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
