.discover {
  width: 80%;
}

.discover p {
  color: #000;
  border: none;
}

.input {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}

.search-header {
  width: 80%;
}