.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #0D3E4A;
  height: 20vh;
  box-shadow: 0 1px 10px #012129;
}

h1 {
  color: #82ABB5;
}

h1 i {
  color: #012831;
}

i:hover {
  cursor: pointer;
}

.search {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  padding: 5px;
  width: 260px;
  height: 30px;
  font-size: 24px;
  border-radius: 5px;
}

.search:focus {
  outline: none;
  color: #82ABB5;
}

.search::placeholder {
  opacity: .3;
  font-size: 20px;
  color: #fff;
}

.logo {
  margin-left: 15px;
  font-size: 70px;
  letter-spacing: 8px;
}

.logo:hover {
  cursor: pointer;
}

.login-btn {
  font-family: 'Paytone One', sans-serif;
  color: #82ABB5;
  background: #012831;
  width: 110px;
  height: 35px;
  border-radius: 100px;
  border: none;
  margin-right: 15px;
}

.login-btn:focus {
  outline: none;
}

.login-btn:hover {
  background: #012b35;
  cursor: pointer;
}

.user-login i {
  font-size: 30px;
  letter-spacing: 12px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}