.navbar {
  width: 20%;
  height: 80vh;
  background: #012831;
  font-size: 20px;
  box-shadow: 1px 0 10px #012831;
}

.links {
  padding: 20px 0;
  color: #82ABB5;
}

.links:hover {
  color: rgb(203, 229, 236);
}

a {
  text-decoration: none;
}