.navbar {
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  background: #012831;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.logo {
  margin-left: 15px;
  font-size: 70px;
  letter-spacing: 8px;
}

.logo:hover {
  cursor: pointer;
}

.profile_img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}