.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  width: 15%;
  height: 100vh;
  background: linear-gradient(#1d212a, #06080a);
  opacity: .9;
  font-size: 20px;
}

.logo {
  margin-top: 10px;
  font-size: 70px;
  letter-spacing: 8px;
}

.logo i {
  color: #22A053;
}

.logo h1 {
  color: #FFFFFF;
}

.profile_img {
  margin-top: 30px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  opacity: .65;
}

.profile_img:hover {
  animation: img-hover .5s forwards;
}

.links, .links a {
  margin-top: 40px;
  color: #595B5F;
}

.links a:hover {
  animation: nav-hover .5s forwards;
}

i {
  color: #595B5F;
}

.logout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 30px;
}

a, a:hover {
  color: #fff;
}

.active {
  color: #22A053;
}

@keyframes nav-hover {
  0% {
    color: #595B5F;
  }
  100% {
    color: #fff;
  }
}

@keyframes img-hover {
  0% {
    opacity: .65;
  }
  100% {
    opacity: 1;
  }
}