.related-artist-single {
  box-shadow: 0 6px 8px -6px #000;
  margin: 50px 0;
}

.related-name {
  margin-top: 10px;
  text-decoration: underline;
  font-size: 20px;
}

#related-iframe {
  width: 80px;
  transform: scale(1.2)
}