.profile-posts {
  background: linear-gradient(to top, #22A053, rgba(104, 156, 130, 0.25));
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}

.info {
  width: 88%;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
  margin-bottom: 20px;
}

.toggle-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30px;
  position: relative;
}

.profile-toggle > p {
  color: #000;
  font-size: 20px;
  padding: 5px 10px;
}

.toggle-options {
  position: absolute;
  top: 25px;
}

.toggle-item {
  background: #fff;
}

.toggle-item:hover {
  cursor: pointer;
}

.toggle-content {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.toggle-btns {
  display: flex;
  flex-direction: column;
}

.fa-angle-down {
  color: #fff;
  
}

.fa-angle-down:hover {
  cursor: pointer;
}

#text-area {
  width: 100%;
  margin-right: 8px;
  opacity: .9;
  border-radius: 5px;
}

#text-area:focus {
  opacity: 1;
}