.posts {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to top, #22A053, rgba(104, 156, 130, 0.25));
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 10px;
  position: relative;
  margin: 10px auto;
  border-radius: 10px;
}

.profile-img:hover {
  cursor: pointer;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 98%;
  margin: 0 auto;
}

.info > iframe {
  z-index: 1;
  position: relative;
  margin-top: 20px;
}

.user {
  margin: 10px;
}

.user-name {
  display: inline;
}

.timestamp {
  display: inline;
  color: rgb(198, 212, 198);
}

.comment {
  margin: 20px 0;
  border-radius: 4px;
  padding: 30px;
  text-align: left;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 10px;
  margin-left: 15px;
}

.arrow > i {
  color: #fff;
  font-size: 34px;
  margin: 0 0 15px 0;
}

.arrow > i:hover {
  cursor: pointer;
}

.profile-view {
  border-bottom: 1px solid rgb(194, 194, 194);
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  margin: 5px auto;
  width: 580px;
}

.profile-view > iframe {
  animation: iframe-fade 2s forwards ease-in;
  width: 100%;
}

.profile-comment {
  color: #000;
  width: 100%;
}

.profile-view-time {
  margin: 15px 0 15px 15px;
  text-align: right;
  color: rgb(168, 168, 168);
}

.profile-view-info {
  margin: 15px 0 15px 15px;
}

.arrow > .liked {
  color: black;
}

.personal-toggle {
  display: flex;
  justify-content: flex-end;
}

.personal-toggle-item {
  margin: 0 2px;
}

.personal-toggle-item:hover {
  cursor: pointer;
}

.modal {
  transform: translateX(-100%);
  animation: modalSlide .3s both;
}

#profile-view-img {
  position: sticky;
  top: 0;
  width: 250px;
  height: 250px;
}

#modal {
  background-color: rgb(230, 240, 233);
}

#profile-button {
  background: rgba(34, 160, 82, 1);
  color: #fff;
}

@keyframes modalSlide {
  100% { 
    transform: translateX(0%); 
  }
}