.posts {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to top, #22A053, rgba(104, 156, 130, 0.25));
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 10px;
  position: relative;
  margin: 10px auto;
  min-height: 100%;
}

.profile-img:hover {
  cursor: pointer;
}

.info > iframe {
  z-index: 1;
  position: relative;
  margin-top: 20px;
}

.user {
  margin: 10px;
}

.user-name {
  color: #000;
  display: inline;
}

.timestamp {
  display: inline;
  color: #C6CED4;
}

.comment {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #CFD8DE;
  border-radius: 4px;
  padding: 12px;
}

.arrow > i {
  margin: 20px;
  color: #fff;
  font-size: 40px;
}